@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inter';

    margin: 0;

    text-decoration: none;
}

body
{
    background: #0A122E;

    position: relative;
}

.container
{
    width: 1380px;

    margin: 0 auto;

    z-index: 2;
}

.wrapper
{
    background: url(../img/bg.jpg) no-repeat bottom center;
}

.wrapper .main
{
    background: url(../img/bg.png) no-repeat top center;
}
